/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .btn-medium {
  background-color: white;
  box-shadow: 1vw, 1vh, lightgray;
  padding: 0.2vw;
  border-radius: 15px;
  border: 2px solid gray;
  color: gray;
  margin: 10px;
}

.btn-medium:hover {
  background-color: gray;
  box-shadow: 1vw, 1vh, lightgray;
  padding: 0.2vw;
  border-radius: 15px;
  border: 2px solid gray;
  color: white;
  margin: 10px;
}

.container {
  display: flex;
}

.link {
  text-decoration: none;
}
